<div class="card" style="width: 18rem;">
    <div id="topCard" class="card-img-top $secondary "></div>
    <div class="card-body">
        <h4 class="card-title">{{role}}</h4>
        <h5 class="card-text">{{name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Id: {{id}}</li>
    </ul>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" class="card-link"><a href="mailto:{{email}}">{{email}}</a></a></li>
    </ul>
    <div class="card-body">
        <h6><a href="https://github.com/{{github}}">{{github}}</a></h6>
    </div>
</div>